<div style="border-style: solid; border-top-right-radius: 20px;border-top-left-radius: 20px; background-color: aliceblue ; border-color:skyblue">
<h1 class="text-center "  style="color: gray" >Chat</h1>
</div>

<div style="border-style: solid; height: 1050px; border-color: skyblue;" class="Test" id="chatroom" messages=$scope.messages>
	<div ng-repeat="message in messages" > 
		<div style="padding-left: 10px; background-color: white; border:solid;border-color: #cde;  border-radius: 5px;">
		<p class='msg' style="font-size: 17px; font-family: sans-serif;">  <b> {{message.user}}  </b>  :   {{message.msg}}  </p>
		</div>
	</div>
</div>

<div>
	<input type="text" style="width: 100%; height: 50px" id="msg"  ng-keyup="$event.keyCode ==13?$ctrl.send_msg() : null"> 
	<button class="btn btn-block btn-info" id="send_msg" ng-click="$ctrl.send_msg()">Send</button>
</div>