
<h1 class="text-center "  style="color: white; border-bottom: solid; border-color: cyan ;background-color: #00a3cc"  >Chat</h1>
<div style="border-style: solid;height: 1050px; border-color: cyan" class="Test" id="chatroom">
	<section id="feedback"></section>

<!-- 	<div>
		<li style="border-bottom: solid; color: white ; border-color: cyan " > 

			Username: {{name}} <br>
			Message :{{message}}

		</li>


	</div> -->
	
</div>

<div>
	<input type="text" style="width: 100%; height: 50px" id="msg" ng-model="msg"> 
	<button class="btn btn-block btn-info" id="send_msg" ng-click="$ctrl.send_msg(msg)">Send</button>
</div>