<!DOCTYPE html>
<html>
<head>
	<style >
	li {
		font-size: 20px ;
		list-style-type: none;

	}

	.Test
	{
		
		height:100%;
		overflow:scroll;
	}

</style>
<title></title>
<script src="angular/angular.js"></script>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body style="background:linear-gradient(to left, #02111d, #037bb5, #02111d);font-family: Comic Sans MS, cursive, sans-serif">

	
	<h1 class="text-center" style="color: white">ChatBuddy</h1>
	<div ng-app="app1">
		<app1 />
		
	</div>
	<script type="text/javascript" src="index.js"></script>
	<script type="text/javascript" src="app1.js"></script>
	<script type="text/javascript" src="rooms.js"></script>
	<script type="text/javascript" src="chatbody.js"></script>
	<script type="text/javascript" src="friends.js"></script>
	<script type="text/javascript" src="members.js"></script>
	<script type="text/javascript" src="userinfo.js"></script>
</body>
</html>