<html>
<head>
	<title>CHAT</title>
	<script src="angular/angular.js"></script>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

</head>
<body class="text-center" style="background:linear-gradient(to left, #02111d, #037bb5, #02111d);font-family: Comic Sans MS, cursive, sans-serif">
	<h1 style="margin-top: 10% ">Chat Buddy</h1>

	<div ng-app="app">
		<app />

	</div>
	<script type="text/javascript" src="index.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="signing.js"></script>

</body>