<div style="height: 550px;  background-color:aliceblue; border-color: skyblue; border-style: solid;  border-radius:40px" users=$scope.users>
	<h1 class="text-center"  style="color: gray;" >Members</h1>
	<button ng-click="$ctrl.showmembers()" class="btn-block btn btn-info" ><b style="color: white"> Online Members </b></button>
	<div ng-repeat = "user in users">
		<li> <button ng-value="user" class="btn-block" style="border-bottom: solid; border-width: 1px">{{user.user}}</button></li>
	</div>
	<br></br>
	<br></br>
	</div>
</div>