<div style="border-style: solid;height: 800px; border-color:skyblue; background-color:aliceblue; border-radius: 40px;" rooms=$scope.rooms>
	<h1 class="text-center"  style="color: gray ;" >Rooms</h1>
	<button  ng-click="switch = !switch" class="btn-block btn btn-info"  ><b style="color: white"> Create</b></button>
	<div  ng-show="switch" >
		<input ng-model="name" placeholder="Enter the room name" class="width:100%">
		<input type="password" ng-model = "password" placeholder="Enter a password" class="width:100%" >
		<button ng-click='$ctrl.createroom(name,password)' class="btn-block btn btn-info">Submit</button>
	</div>
	<br>
	<button  ng-click="show = !show" class="btn-block btn btn-info"  ><b style="color: white"> Join</b></button>
	<div  ng-show="show" >
		<input ng-model="rname" placeholder="Enter the room name" class="width:100%">
		<input ng-model="rpass" placeholder="Enter the room password,rpass" class="width:100%">
		<button ng-click='$ctrl.joinroom(rname,rpass)' class="btn-block btn btn-info" >Submit</button>
	</div>

	<div ng-repeat="room in rooms"> 
	<li> <button  style="border-bottom: solid; border-width: 1px" class="btn-block">{{room.roomname}}</button></li>
	</div>
</div>