<html>
<head>
<title>Sign-up</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
	
	<div >
		<input ng-model="username" placeholder="Enter your username"><br></br>
		<input ng-model="password" placeholder="Enter your password"><br></br>
		<input ng-model="email" placeholder="Enter your email"><br></br>
		

		<button ng-click='$ctrl.signup(username,password,email)'>Register</button><br></br>
		<button >Sign in</button>
</div>
</body>

</html>