<div style="height: 300px;border:solid;border-radius: 40px; border-color: skyblue; background-color:aliceblue;   ">
	<br>
	<br>

	
		 <a href="video.html" target="_blank"><button class="btn-block btn btn-info"  ><b style="color: white"><li class="fas fa-video"> Video Call </li></b></button></a><br>
				
		
		
		<button class="btn-block btn btn-info" ng-click='$ctrl.deleteacc()'><b style="color: white">Delete Account </b></button>
		<br>
		<button class="btn-block btn btn-info" ng-click='$ctrl.logout()'><b style="color: white"> Log out </b></button>
	
</div>