<div style="height: 300px;border:solid;border-radius: 40px; border-color: skyblue; background-color:aliceblue;   ">
	<br>
	<div>

	<h1 class="text-center"  style="color: gray ;" > Video Chat </h1>
	</div>

	<br>
		<div >
		<li> <a href="video.html" target="_blank"><button class="btn-block btn btn-info"  ><b style="color: white"><li class="fas fa-video"> Video Call </li></b></button></a><br></br>
		
		</div>
		
		<div>
		<button class="btn-block btn btn-info" ng-click='$ctrl.logout()'><b style="color: white"> log out </b></button>
	</div>
</div>