<div style="height: 400px; border-bottom: solid;border-left: solid;border-right: solid;border-color: cyan ;">
<!-- 	<h1 class="text-center"  style="color: white ;background-color:#00a3cc " >User Information </h1>
		<div >
		<li> <button class="btn-block btn btn-info" ><b style="color: black"> Username : {{username}} </b></button></li>
		<li> <button class="btn-block btn btn-info" ><b style="color: black"> Email : {{email}} </b></button></li>
		<li> <button class="btn-block btn btn-info" ><b style="color: black"> Friends : {{friends.length}} </b></button></li>
		</div>
		>hr> -->
	<h1 class="text-center"  style="color: white ;background-color:#00a3cc " >Video Chat </h1>

		<div >
		<li> <button class="btn-block btn btn-info" ><b style="color: black"> Video Call </b></button></li><br></br>
		
		</div>
		<div>
		<button class="btn-block btn btn-info" ng-click='$ctrl.logout()'><b style="color: black"> log out </b></button>
	</div>
</div>